body{
    background-color:rgb(19, 19, 32) ;
    display: flex;
    justify-content: center;
    
}

.quote_area{
    background-color: rgb(144, 154, 162);
    margin-top: 50%;
    position: fixed;
    height: 150px;
    width: 200px;
    border-radius: 20px;
}
p{
    color: white;
}