body{
    background-color:rgb(19, 19, 32) ;
    display: flex;
    justify-content: center;
    
}

.quote_area{
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(144, 154, 162);
    margin-top: 50%;
    position: fixed;
    height: auto;
    width: 65%;
    border-radius: 20px;
}
button:hover{
    cursor: pointer;
}
button{
    height: 40px;
    width: 50px;
    border-radius: 25%;
    justify-self: center;
    border-style: none;
}
p{
    color: white;
}